{% load static %}
{% url "Home" as home_url %}
{% url "About-us" as about_url %}
{% url 'Contact_Us:contact' as ContactUs_url %}
{% url 'Services:services' as services_url %}

<div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body">
        <ul class="site-nav-wrap">
            <li class="active"><a href="/">Home</a></li>
            <li class="has-children"><span class="arrow-collapse collapsed" data-toggle="collapse"
                                           data-target="#collapseItem0"></span>
                <a href="#">Gallery</a>
                <ul class="collapse" id="collapseItem0">
                    {% for category in categories %}
                        <li><a href="/category/{{ category.name }}">{{ category.name }}</a></li>
                    {% endfor %}
                    <li class="has-children"><span class="arrow-collapse collapsed" data-toggle="collapse"
                                                   data-target="#collapseItem1"></span>
                        <a href="#">Sub Menu</a>
                        <ul class="collapse" id="collapseItem1">
                            <li><a href="#">Menu One</a></li>
                            <li><a href="#">Menu Two</a></li>
                            <li><a href="#">Menu Three</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="{{ services_url }}">Services</a></li>
            <li><a href="{{ about_url }}">About</a></li>
            <li><a href="{{ ContactUs_url }}">Contact</a></li>
        </ul>
        <ul class="site-nav-wrap" data-class="social">
            <li>
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
            </li>
            <li>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
            </li>
            <li>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
            </li>
            <li>
                <a href="#" class="pl-3 pr-3"><span class="icon-youtube-play"></span></a>
            </li>
        </ul>
    </div>
</div>

<header class="site-navbar py-3" role="banner">

    <div class="container-fluid">
        <div class="row align-items-center">

            <div class="col-6 col-xl-2 aos-init aos-animate" data-aos="fade-down">
                <h1 class="mb-0"><a href="/" class="text-white h2 mb-0">{{ settings.site_title }}</a></h1>
            </div>
            <div class="col-10 col-md-8 d-none d-xl-block aos-init aos-animate" data-aos="fade-down">
                <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">

                    <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                        <li class="{% if request.path == home_url %}active{% endif %}"><a href="/">Home</a></li>
                        <li class="has-children">
                            <a href="#">Gallery</a>
                            <ul class="dropdown">
                                {% for category in categories %}
                                    <li><a href="/category/{{ category.name }}">{{ category.name }}</a></li>
                                {% endfor %}
                                <li class="has-children">
                                    <a href="#">Sub Menu</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Menu One</a></li>
                                        <li><a href="#">Menu Two</a></li>
                                        <li><a href="#">Menu Three</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="{% if request.path == services_url %}active{% endif %}"><a
                                href="{{ services_url }}">Services</a>
                        </li>
                        <li class="{% if request.path == about_url %}active{% endif %}"><a
                                href="{{ about_url }}">About</a></li>
                        <li class="{% if request.path == ContactUs_url %}active{% endif %}"><a
                                href="{{ ContactUs_url }}">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="col-6 col-xl-2 text-right aos-init aos-animate" data-aos="fade-down">
                <div class="d-none d-xl-inline-block">
                    <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0" data-class="social">
                        <li>
                            <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                        </li>
                        <li>
                            <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                        </li>
                        <li>
                            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                        </li>
                        <li>
                            <a href="#" class="pl-3 pr-3"><span class="icon-youtube-play"></span></a>
                        </li>
                    </ul>
                </div>

                <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a
                        href="#" class="site-menu-toggle js-menu-toggle text-black"><span
                        class="icon-menu h3"></span></a></div>

            </div>

        </div>
    </div>

</header>